-
  let cats_card = {
    items: [
      {
        desc: 'Сказочное заморское яство',
        title: 'Нямушка',
        taste: 'с фуа-гра',
        desc: '10 порций<br>мышь в подарок',
        weight: 0.5
      },
      {
        desc: 'Сказочное заморское яство',
        title: 'Нямушка',
        taste: 'с рыбой',
        desc: '40 порций<br>2 мыши в подарок',
        weight: 0.5
      },
      {
        desc: 'Сказочное заморское яство',
        title: 'Нямушка',
        taste: 'с курой',
        desc: '100 порций<br>5 мышей в подарок<br>заказчик доволен',
        weight: 0.5
      }
    ]
  };