@use 'sass:math';
@use '../functions/maps' as _maps;

@use '../mixins/font';
@use '../mixins/flex';
@use '../mixins/line';
@use '../mixins/background';

@use '../styles/bootstrap';





//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------


  $padding-top: 18px;
  $padding-right: 12px;
  $padding-bottom: 0;
  $padding-left: 45;


  $item-count: 3;
  $item-spacing-x: _maps.get( bootstrap.$settings, spacing ) * 2;
  $item-spacing-y: 18px;
  $item-width: calc(( 100% - #{ $item-spacing-x * ( $item-count - 1 )}) / #{ $item-count });

  $item-border-width: 4px;
  $item-border-radius: 0 10px 10px 10px;
  $item-angle-cut: $padding-left;

  $item-background: #f2f2f2;


  $updesc-font-family: TrebuchetMS;
  $updesc-font-weight: normal;
  $updesc-font-size: 16px;
  $updesc-line-height: 19px;
  $updesc-lines: 1;
  $updesc-spacing: 0px;
  $updesc-letter-spacing: 0px;


  $title-font-family: TrebuchetMS;
  $title-font-weight: bold;
  $title-font-size: 48px;
  $title-line-height: 50px;
  $title-lines: 1;
  $title-spacing: 9px;
  $title-letter-spacing: 1.5px;


  $taste-font-family: TrebuchetMS;
  $taste-font-weight: bold;
  $taste-font-size: 24px;
  $taste-line-height: 29px;
  $taste-lines: 1;
  $taste-spacing: 0px;
  $taste-letter-spacing: .5px;


  $desc-font-family: TrebuchetMS;
  $desc-font-weight: 100;
  $desc-font-weight-bold: 500;
  $desc-font-size: 14px;
  $desc-line-height: 16px;
  $desc-lines: 3;
  $desc-spacing: 14px;
  $desc-letter-spacing: .2px;


  $cat-image-spacing: 18px;
  $cat-image-bottom-overlay: -81px;
  $cat-image-height: 268px;


  $size-size: 81px;
  $size-shift: 11px;
  $size-background: #1698d9;

  $size-bold-font-family: TrebuchetMS;
  $size-bold-font-weight: regular;
  $size-bold-font-size: 42px;
  $size-bold-line-height: 42px;
  $size-bold-color: #fff;

  $size-light-font-family: TrebuchetMS;
  $size-light-font-weight: regular;
  $size-light-font-size: 21px;
  $size-light-line-height: 22px;
  $size-light-color: #fff;


  $outer-desc-font-family: TrebuchetMS;
  $outer-desc-font-weight: 400;
  $outer-desc-font-size: 13px;
  $outer-desc-line-height: 16px;
  $outer-desc-lines: 1;
  $outer-desc-color: #fff;
  $outer-desc-hover-color: #1698d9;
  $outer-desc-spacing: 14px;
  $outer-desc-letter-spacing: .2px;




  $item-border-color: #1698d9;
  $updesc-color: #666;
  $title-color: #000;
  $taste-color: #000;
  $desc-color: #666;

  $disabled-opacity: 0.5;
  $disabled-item-border-color: #b3b3b3;
  $disabled-updesc-color: #b3b3b3;
  $disabled-title-color: #b3b3b3;
  $disabled-taste-color: #b3b3b3;
  $disabled-desc-color: #b3b3b3;




  @include font.include( $updesc-font-family, $updesc-font-weight );
  @include font.include( $title-font-family, $title-font-weight );
  @include font.include( $taste-font-family, $taste-font-weight );
  @include font.include( $desc-font-family, $desc-font-weight );
  @include font.include( $desc-font-family, $desc-font-weight-bold );
  @include font.include( $size-bold-font-family, $size-bold-font-weight );


//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------


  // Блоки котов
  .cats-card {
    $__selector: &;
    @include flex.init( row, wrap, center, stretch );


    // Элемент
    &__item {
      @include flex.init( row, nowrap, center, stretch );
      position: relative;
      width: $item-width;
      padding-bottom: $outer-desc-spacing + ( $outer-desc-line-height * $outer-desc-lines );


      // Контейнер
      &-wrapper {
        @include flex.init( column, nowrap, stretch );
        border: $item-border-width solid $item-border-color;
        padding-top: $padding-top;
        padding-right: $padding-right;
        padding-bottom: $padding-bottom;
        padding-left: #{ $padding-left }px;
        margin-top: $item-spacing-y;
        border-radius: $item-border-radius;
        clip-path: polygon( #{ $item-angle-cut }px 0, 100% 0, 100% 100%, 0 100%, 0 #{ $item-angle-cut }px );
        position: relative; overflow: hidden; width: 100%;
        background-color: $item-background;


        // Срезанная граница
        &:before {
          $__width: $item-border-width * 1.2;
          $__height: #{ math.sqrt( math.pow( $item-angle-cut, 2 ) * 2 )}px;
          $__angle_cut: #{ $item-angle-cut }px;
          $__top: calc( #{ $__angle_cut } - #{ $__height } - #{ $item-border-width });
          background: $item-border-color;
  
          content: ''; position: absolute;
          top: $__top;
          left: -$item-border-width;
          display: block; width: $__width; height: $__height; transform: rotate( 45deg );
          transform-origin: 50% 100%;
        }
      }


      // Верхнее описание карточки
      &-updesc {
        @include line.clamp( $updesc-lines, $updesc-line-height );
        @include font.init( $updesc-font-family, $updesc-font-weight );
        letter-spacing: $updesc-letter-spacing;
        margin-top: $updesc-spacing;
        font-size: $updesc-font-size;
        color: $updesc-color;
      }


      // Название яства
      &-title {
        @include line.clamp( $title-lines, $title-line-height );
        @include font.init( $title-font-family, $title-font-weight );
        letter-spacing: $title-letter-spacing;
        margin-top: $title-spacing;
        font-size: $title-font-size;
        color: $title-color;
      }


      // Вкус яства
      &-taste {
        @include line.clamp( $taste-lines, $taste-line-height );
        @include font.init( $taste-font-family, $taste-font-weight );
        letter-spacing: $taste-letter-spacing;
        margin-top: $taste-spacing;
        font-size: $taste-font-size;
        color: $taste-color;
      }


      // Подарочная информация
      &-desc {
        @include line.clamp( $desc-lines, $desc-line-height );
        @include font.init( $desc-font-family, $desc-font-weight );
        margin-top: $desc-spacing;
        flex-grow: 1;

        &, & > b {
          letter-spacing: $desc-letter-spacing;
          font-size: $desc-font-size;
          color: $desc-color;
        }
        & > b { @include font.init( $desc-font-family, $desc-font-weight-bold ); }
      }


      // Фото кота
      &-cat-image {
        @include background.init( url( '../images/objects/funny-cat.png' ));
        @include background.position( center, top );
        width: calc( 100% + #{ $padding-left + $padding-right });
        height: $cat-image-height - $cat-image-bottom-overlay;
        margin-top: $cat-image-spacing;
        margin-left: #{ -$padding-left }px;
        margin-right: -$padding-right;
        margin-bottom: -$padding-bottom + $cat-image-bottom-overlay;
      }


      // Подпись для веса товара
      &-size {
        @include flex.init( column, nowrap, center, center );
        width: $size-size; height: $size-size;
        bottom: $size-shift; right: $size-shift;
        background-color: $size-background;
        position: absolute; border-radius: 50%;

        &-bold {
          @include line.clamp( 1, $size-bold-line-height );
          @include font.init( $size-bold-font-family, $size-bold-font-weight );
          font-size: $size-bold-font-size;
          color: $size-bold-color;
        }

        &-light {
          @include line.clamp( 1, $size-light-line-height );
          @include font.init( $size-light-font-family, $size-light-font-weight );
          font-size: $size-light-font-size;
          color: $size-light-color;
        }
      }


      // Текст под карточкой
      &-outer-desc {
        @include line.clamp( $outer-desc-lines, $outer-desc-line-height );
        margin-top: $outer-desc-spacing;
        letter-spacing: $outer-desc-letter-spacing;
        font-size: $outer-desc-font-size;
        color: $outer-desc-color;
        bottom: 0; position: absolute; left: 0; text-align: center; width: 100%;

        &, & > a { @include font.init( $outer-desc-font-family, $outer-desc-font-weight ); }
        & > a {
          text-decoration: underline;
          color: $outer-desc-hover-color;
        }
      }


      // Последующие элементы
      & + & { margin-left: $item-spacing-x; }
      &:nth-of-type( #{ $item-count }n + 1 ) { margin-left: 0; }
    }


    // Статусы
    &__item.status_disabled {
      #{ $__selector } {

        // Элемент
        &__item {
          &-updesc, &-title, &-taste, &-desc { opacity: $disabled-opacity; }

          // Контейнер
          &-wrapper {
            border-color: $disabled-item-border-color;
            &:before { background-color: $disabled-item-border-color; }
          }

          // Верхнее описание карточки
          &-updesc { color: $disabled-updesc-color; }

          // Название яства
          &-title { color: $disabled-title-color; }

          // Вкус яства
          &-taste { color: $disabled-taste-color; }

          // Подарочная информация
          &-desc { &, & > b { color: $disabled-desc-color; }}
        }
      }
    }
  }


  // Статусы текстовых элементов
  .status {
    $__statuses: default disabled selected;

    @each $__status in $__statuses {
      &_#{ $__status }__text { visibility: hidden; }
      &_#{ $__status } &_#{ $__status }__text { visibility: visible; }
    }
  }


//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------