.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc( 100% + 80px);
  min-width: calc( 100% + 80px);
  max-width: calc( 100% + 80px);
  flex-basis: calc( 100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
}
.row > .col, .row > [class*=col-] {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (min-width: 0px) {
  .col-1 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .col-2 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .col-3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 0px) {
  .col-small-1 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .col-small-2 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .col-small-3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 600px) {
  .col-middle-1 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .col-middle-2 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .col-middle-3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 900px) {
  .col-medium-1 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .col-medium-2 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .col-medium-3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-large-1 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .col-large-2 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .col-large-3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1800px) {
  .col-maximal-1 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .col-maximal-2 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .col-maximal-3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 0px) {
  .text-center {
    text-align: center;
  }
}
@media screen and (min-width: 0px) {
  .text-small-center {
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .text-middle-center {
    text-align: center;
  }
}
@media screen and (min-width: 900px) {
  .text-medium-center {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .text-large-center {
    text-align: center;
  }
}
@media screen and (min-width: 1800px) {
  .text-maximal-center {
    text-align: center;
  }
}
.m-left-auto {
  margin-left: auto;
}

.m-right-auto {
  margin-right: auto;
}

@font-face {
  font-family: TrebuchetMS;
  src: url("../fonts/TrebuchetMS/normal.ttf") format("truetype");
}
@font-face {
  font-family: TrebuchetMS;
  src: url("../fonts/TrebuchetMS/normal.ttf") format("truetype");
}
@font-face {
  font-family: TrebuchetMS;
  src: url("../fonts/TrebuchetMS/normal.ttf") format("truetype");
}
@font-face {
  font-family: TrebuchetMS;
  src: url("../fonts/TrebuchetMS/normal.ttf") format("truetype");
}
@font-face {
  font-family: TrebuchetMS;
  src: url("../fonts/TrebuchetMS/normal.ttf") format("truetype");
}
@font-face {
  font-family: TrebuchetMS;
  src: url("../fonts/TrebuchetMS/normal.ttf") format("truetype");
}
.cats-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.cats-card__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: calc(( 100% - 160px) / 3);
  padding-bottom: 30px;
}
.cats-card__item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: flex-start;
  border: 4px solid #1698d9;
  padding-top: 18px;
  padding-right: 12px;
  padding-bottom: 0;
  padding-left: 45px;
  margin-top: 18px;
  border-radius: 0 10px 10px 10px;
  clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #f2f2f2;
}
.cats-card__item-wrapper:before {
  background: #1698d9;
  content: "";
  position: absolute;
  top: calc( 45px - 63.6396103068px - 4px);
  left: -4px;
  display: block;
  width: 4.8px;
  height: 63.6396103068px;
  transform: rotate(45deg);
  transform-origin: 50% 100%;
}
.cats-card__item-updesc {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 19px;
  min-height: 19px;
  max-height: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: TrebuchetMS;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  margin-top: 0px;
  font-size: 16px;
  color: #666;
}
.cats-card__item-title {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
  min-height: 50px;
  max-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: TrebuchetMS;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.5px;
  margin-top: 9px;
  font-size: 48px;
  color: #000;
}
.cats-card__item-taste {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 29px;
  min-height: 29px;
  max-height: 29px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: TrebuchetMS;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  margin-top: 0px;
  font-size: 24px;
  color: #000;
}
.cats-card__item-desc {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 16px;
  min-height: 16px;
  max-height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  font-family: TrebuchetMS;
  font-weight: 100;
  font-style: normal;
  margin-top: 14px;
  flex-grow: 1;
}
.cats-card__item-desc, .cats-card__item-desc > b {
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #666;
}
.cats-card__item-desc > b {
  font-family: TrebuchetMS;
  font-weight: 500;
  font-style: normal;
}
.cats-card__item-cat-image {
  background-image: url("../images/objects/funny-cat.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: calc( 100% + 57px);
  height: 349px;
  margin-top: 18px;
  margin-left: -45px;
  margin-right: -12px;
  margin-bottom: -81px;
}
.cats-card__item-size {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  bottom: 11px;
  right: 11px;
  background-color: #1698d9;
  position: absolute;
  border-radius: 50%;
}
.cats-card__item-size-bold {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 42px;
  min-height: 42px;
  max-height: 42px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: TrebuchetMS;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  color: #fff;
}
.cats-card__item-size-light {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 22px;
  min-height: 22px;
  max-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: TrebuchetMS;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  color: #fff;
}
.cats-card__item-outer-desc {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 16px;
  min-height: 16px;
  max-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 14px;
  letter-spacing: 0.2px;
  font-size: 13px;
  color: #fff;
  bottom: 0;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
}
.cats-card__item-outer-desc, .cats-card__item-outer-desc > a {
  font-family: TrebuchetMS;
  font-weight: 400;
  font-style: normal;
}
.cats-card__item-outer-desc > a {
  text-decoration: underline;
  color: #1698d9;
}
.cats-card__item + .cats-card__item {
  margin-left: 80px;
}
.cats-card__item:nth-of-type(3n + 1) {
  margin-left: 0;
}
.cats-card__item.status_disabled .cats-card__item-updesc, .cats-card__item.status_disabled .cats-card__item-title, .cats-card__item.status_disabled .cats-card__item-taste, .cats-card__item.status_disabled .cats-card__item-desc {
  opacity: 0.5;
}
.cats-card__item.status_disabled .cats-card__item-wrapper {
  border-color: #b3b3b3;
}
.cats-card__item.status_disabled .cats-card__item-wrapper:before {
  background-color: #b3b3b3;
}
.cats-card__item.status_disabled .cats-card__item-updesc {
  color: #b3b3b3;
}
.cats-card__item.status_disabled .cats-card__item-title {
  color: #b3b3b3;
}
.cats-card__item.status_disabled .cats-card__item-taste {
  color: #b3b3b3;
}
.cats-card__item.status_disabled .cats-card__item-desc, .cats-card__item.status_disabled .cats-card__item-desc > b {
  color: #b3b3b3;
}

.status_default__text {
  visibility: hidden;
}
.status_default .status_default__text {
  visibility: visible;
}
.status_disabled__text {
  visibility: hidden;
}
.status_disabled .status_disabled__text {
  visibility: visible;
}
.status_selected__text {
  visibility: hidden;
}
.status_selected .status_selected__text {
  visibility: visible;
}